<%= form_for @restaurant do |f| %>
	<%= field_set_tag do %>
  		<div class="panel panel-default col-md-2" id="form"><%= label_tag(:q, "Name:") %></div>
  		<div class="panel panel-default col-md-10" id="form"><%= f.text_field :name %></div>
  	<% end %>
  	<%= field_set_tag do %>
 	 	  <div class="panel panel-default col-md-2" id="form"><%= label_tag(:q, "Description:") %></div>
  		<div class="panel panel-default col-md-10" id="form"><%= f.text_area :description, size: "60x12" %></div>
 	<% end %>
	<%= field_set_tag do %>
  		<div class="panel panel-default col-md-2" id="form"><%= label_tag(:q, "Street One:") %></div>
  		<div class="panel panel-default col-md-10" id="form"><%= f.text_field :address_one %></div>
 	<% end %>
  <%= field_set_tag do %>
      <div class="panel panel-default col-md-2" id="form"><%= label_tag(:q, "Street Two:") %></div>
      <div class="panel panel-default col-md-10" id="form"><%= f.text_field :address_two %></div>
  <% end %>
  <%= field_set_tag do %>
      <div class="panel panel-default col-md-2" id="form"><%= label_tag(:q, "City:") %></div>
      <div class="panel panel-default col-md-10" id="form"><%= f.text_field :city %></div>
  <% end %>
  <%= field_set_tag do %>
      <div class="panel panel-default col-md-2" id="form"><%= label_tag(:q, "State:") %></div>
      <div class="panel panel-default col-md-10" id="form"><%= f.text_field :state %></div>
  <% end %>
  <%= field_set_tag do %>
      <div class="panel panel-default col-md-2" id="form"><%= label_tag(:q, "Zip Code:") %></div>
      <div class="panel panel-default col-md-10" id="form"><%= f.text_field :zip_code %></div>
  <% end %>
	<%= field_set_tag do %>
  		<div class="panel panel-default col-md-2" id="form"><%= label_tag(:q, "Phone:") %></div>
  		<div class="panel panel-default col-md-10" id="form"><%= f.text_field :phone %></div>
 	<% end %>
	<%= field_set_tag do %>
  		<%= f.submit %>
  	<% end %>
<% end %>
