<h1><%= @restaurant.name %></h1>
<br />
<b>Address:</b> <%= @restaurant.full_address %><br />
<b>Phone:</b> <%= @restaurant.phone %><br />
<b>Description:</b> <%= @restaurant.description %><br />
<br>
<br>
<%= link_to "All Restaurants", restaurants_path %>