<!DOCTYPE html>
<html>
<head>
  <title>GalenTable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<ul class="nav nav-pills">
	<% if user_signed_in? %>

        <li role="presentation" class="active col-md-2"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

    <% else %>

        <li role="presentation" class="active col-md-2"><%= link_to('Login', new_user_session_path, class: "btn btn-primary btn-lg")  %></li>  

<% end %>
<li role="presentation" class="active col-md-2"><%= link_to "Create New Restaurant", new_restaurant_path %></li>
<li role="presentation" class="active col-md-2"><%= link_to 'All Restaurants', restaurants_path %></li>
</ul>
<%= yield %>

</body>
</html>
